[submodule "app/themes/terminal"]
	path = app/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "app/themes/LoveIt"]
	path = app/themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
